.backgrounduser {
  background-color: #F5F5F5;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.dashboardsection {
  padding: 2vh 40px 3vh 40px;
}

.dashboardButtons {
  padding: 10;
  color: "red"
}